# Python
__pycache__/
*.py[cod]
*.sqlite3
.Python
*.egg-info/
.pytest_cache/
.mypy_cache/

# Virtual environments
.venv/
venv/
env/

# Django
staticfiles/
media/

# Environment variables
.env
.env.*

# macOS
.DS_Store

